@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');



.body {
    min-height: 4800px;

}

section {
    padding-top: 7rem;
}


.jumbotron {
    padding-top: 10rem;
    background-color: #add8e6;

}

.skill img {
    width: 300px;
}


footer {
    background-color: #add8e6;
    text-indent: none;
}

/* navbar */
.navbar .navbar-brand {
    font-family: 'Dancing Script';
}

.navbar .nav-item {
    font-family: serif;
}

/* akhir navbar */


/* jumbotron */
.jumbotron h1,
p {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px 1px;
}

/* akhir jumbotron */

body .sgv {
    box-shadow: 1px 1px 1px;
}